{% extends "base.twig" %}
{% block content %}
    <table width="1000">
        <tr>
            <td><img src="{{ paths.PATH_IMAGES }}cabezal.jpg" /></td>
        </tr>	
        <tr>
            <td>  
                <hr>
                <p align="center" class="encabezadoRojo">Página errónea</p></td>
        </tr>
    </table>
{% endblock %}